@model HW_18.ViewModels.ProductViewModel;
@{
    int nextPage = Model.PageNumber + 1;
    int priviousPage = Model.PageNumber - 1;
}
<div class="card">
    <div class="card-body">

        <a class="btn btn-outline-primary mb-2" asp-route-isAsc="@Model.IsAsc" asp-route-page="@priviousPage">Previous page</a>
        <span class="text-xxl-center"> Page @Model.PageNumber </span>
        <a class="btn btn-outline-primary mb-2" asp-route-isAsc="@Model.IsAsc" asp-route-page="@nextPage">Next page</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Model year</th>
                    <th scope="col">
                        <a class="btn-primary mb-0" asp-route-isAsc="true" asp-route-page="@Model.PageNumber">&#x25B2;</a>
                        Price
                        <a class="btn-primary mb-0" asp-route-isAsc="false" asp-route-page="@Model.PageNumber">&#x25BC;</a>
                    </th>
                    <th scope="col">Operation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.products)
                {
                    <tr>
                        <th scope="row">@product.product_name</th>
                        <th scope="row">@product.model_year</th>
                        <th scope="row">@product.list_price</th>
                        <th>
                            <a class="btn btn-warning mb-2" asp-action="EditProduct" asp-route-id="@product.product_id">Edit</a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-outline-primary mb-2" asp-route-isAsc="@Model.IsAsc" asp-route-page="@priviousPage">Previous page</a>
        <span class="text-xxl-center"> Page @Model.PageNumber </span>
        <a class="btn btn-outline-primary mb-2" asp-route-isAsc="@Model.IsAsc" asp-route-page="@nextPage">Next page</a>
    </div>
</div>